.profile {
    flex-grow: 1;
    /* background: url('your-background-image-url') no-repeat center center; */
    background: #ffffff;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-align: center;
    position: absolute;
    height: 60%;
    width: 30%;
    left: 3%; /* Align to the left */
    bottom: 4%; /* Align to the bottom */
  }
  
  .profile h1 {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 2vw;
  }

  .profile-picture {
    width: 20vw;
    height: 20vw;
    border-radius: 30%;
    margin-bottom: 2vh;
  }

  .introduction {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-size: 1.2vw;
  }

  .quote {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    max-width: 20vw;
    font-size: 1.0vw;
  }

  .author {
    font-style: italic; /* Styling for author text */
    color: #666; /* Lighter text color for the author line */
    font-size: 0.8vw; /* Slightly smaller font size for the author */
  }

