/* ProjectDetail.css */

.project-detail-container {
    width: 100%;
    margin: 0 auto;
    max-width: 50vw; /* adjust as you like */
    text-align: left;
    margin-top: 5vw;
    font-family: "Josefin Slab", serif; /* or any font you want */
  }
  
  .project-detail-title {
    font-family: "Tangerine", cursive;
    font-size: 3vw;
    margin-bottom: 1vw;
  }
  
  .project-detail-year {
    font-weight: bold;
    margin-bottom: 1vw;
  }
  
  .project-detail-image {
    max-width: 100%;
    margin-bottom: 2vw;
  }
  
  .project-detail-description {
    font-size: 1.2vw;
    margin-bottom: 1vw;
  }
  
  .project-detail-more {
    font-size: 1.2vw;
    color: #555;
  }
  