.projects-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-item {
    margin-bottom: 20px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.project-item img {
    margin-right: 2vw; /* Space between the image and the text */
    margin-left: 2vw; /* Space between the image and the text */
    margin-bottom: 5vh; /* Space between the image and the text */
    margin-top: 5vh; /* Space between the image and the text */
    width: 45vw; /* Fixed width for consistency */
    height: 45vh; /* Fixed height for consistency */
    object-fit: cover; /* Ensures the image covers the area without distorting */
    transition: transform 0.3s ease; /* Apply transition to transform property */
}

.project-item:hover img {
    transform: scale(0.9); /* Scale up the image on hover */
}

.project-item__title {
    font-size: 1.4vw; /* Larger font size for title */
    font-weight: bold; /* Bold font for title */
    color: #333; /* Darker text color for better readability */
    margin-bottom: 5px; /* Space below title */
}

.project-item__year {
    font-size: 1.2rem; /* Slightly larger font size for year */
    color: #666; /* Lighter text color for year */
    margin-bottom: 5px; /* Space below year */
}

.project-item__description, .project-item__details {
    font-size: 1rem; /* Regular font size for text */
    color: #444; /* Medium darkness for text */
    margin-bottom: 5px; /* Space below text */
}

.project-item__details {
    font-style: italic; /* Italic style for details to differentiate from description */
}
