body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--font-main);
    background-color: var(--background-color);
    overflow: hidden;
  }
  
  .App {
    display: flex;
    height: 100vh;
  }
  
  .navBar {
    position: fixed; /* Fix position so it stays in place */
    top: 7%; /* Align to the top */
    left: 2%; /* Align to the left */
    width: 5%; /* Fixed width, adjust as needed */
    height: 15%; /* Fixed height */
    background-color: var(--background-color); /* White background */
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: start; /* Align items to start from the top */
    font-size: 1vw;
    line-height: 3vh;
    z-index: 10; /* Ensure the nav bar is on top */
}

  .navBar a {
    color: #000;  /* Change the color to black or any other color as per your design */
    text-decoration: none;  /* Removes underline */
  }

  
  .navBar ul {
    list-style: none;
    padding: 0;
  }
  
  .navBar li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .app-logo {
    position: absolute;  /* Positioning the logo absolutely */
    top: 10px;  /* Adjust top margin to align as needed */
    right: 10px;  /* Adjust right margin to keep the logo at the corner */
    width: 100px;  /* Specify the size of your logo */
    height: auto;  /* Maintain aspect ratio */
  }
  